#leftTop{
	top: 0;
	left: 0;
	height: 50%;
	width: 51%;
	position: absolute;
	border-top-left-radius:10px;}
#rightTop{
	top: 0;
	right: 0;
	height: 50%;
	width: 51%;
	position: absolute;
	border-top-right-radius:10px;
	font-family: Helv;
}
#miejsceTop{
	height: 26px;
}
#sponsorzy{
	bottom: 0;
	height: 50%;
	width: 100%;
	background-color:  white;	
	position: absolute;
	display: inline-block;
	text-align: center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	overflow: hidden;
}
#sponLogo{
	height: 80%;
	width: auto;
	position: absolute;
	margin:0 auto;
	margin-top: 40px;
	right: 50px;
}
.sponsor{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}
.sponTitle{
	font-size: 17px;
	color: #ff3333;
}
.sponContent{
	font-size: 15px;
	color: #252525;
}
.sponMiniContent{
	font-size: 14px;
	color: #252525;
}